h1{
    text-align: center;
}

body{
    background-color:beige;
}
.keyboard{
text-align: center;
/* margin-bottom: auto; */

}

.key{
    font-size: large;
    text-align: center;
}


#game-board{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}