h1{
    text-align: center;
}

body{
    background-color:beige;
   
}

.keyboard{
display:flex;
justify-content: center;
text-align: center;
max-width: 50%;
margin: 0 auto;


}

.key{
    font-size:x-large;
    text-align: center;
}

 img{
margin: auto;
justify-content: center;
margin-top: 2%;
margin-bottom: 2%;

} 


.game-board{
    /* height:100vh; */
    display: flex;
    flex-direction:column;
    justify-content:baseline;
    gap:20px;
}

.p{
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    
}


#lose{
    color:red;
    display:none;
}

#win{
    color:green;
    display:none;
} 

/* img{
    width: 40%;
    margin: auto;
justify-content: center;
margin-top: 2%;
margin-bottom: 2%;

} */

#reset{
    font-size: x-large;
    margin-top: auto;

}

.game-board img{

    width: 40%;
    margin: auto;
justify-content: center;
margin-top: 2%;
margin-bottom: 2%;

}